In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
from tqdm import trange
import time

In [2]:
Articles_Scraper = pd.DataFrame({'Article Title': [] , 'Category' : []})
Articles_Scraper

Empty DataFrame
Columns: [Article Title, Category]
Index: []

In [3]:
# get 10000 artical in ART

# there is only 1780 article in Visual Art
for i in trange(0 , 1780, 20):
    
    src = requests.get("https://english.ahram.org.eg/AllCategory/5/25/Arts%20&%20Culture/Visual%20Art/"+str(i)+".aspx").content
    
    soup= BeautifulSoup(src , "lxml")
    
    article_title=[]
    articles_title= soup.find_all("div",{"class":"col-md-12 col-lg-12 mar-top-outer"})
    
    for r in range(len(articles_title)):
        Articles_Scraper = Articles_Scraper.append({'Article Title': articles_title[r].text.strip(), 'Category':'Art'}, ignore_index = True)

100%|██████████████████████████████████████████████████████████████████████████████████| 89/89 [03:05<00:00,  2.08s/it]

In [4]:
Articles_Scraper.shape

(1773, 2)

In [5]:
# there is only 3680 article in Film Art
for i in trange(0 , 3680, 20):
    
    src = requests.get("https://english.ahram.org.eg/AllCategory/5/32/Arts--Culture/Film/"+str(i)+".aspx").content
    
    soup= BeautifulSoup(src , "lxml")
    
    article_title=[]
    articles_title= soup.find_all("div",{"class":"col-md-12 col-lg-12 mar-top-outer"})
    
    for r in range(len(articles_title)):
        Articles_Scraper = Articles_Scraper.append({'Article Title': articles_title[r].text.strip(), 'Category':'Art'}, ignore_index = True)

100%|████████████████████████████████████████████████████████████████████████████████| 184/184 [05:56<00:00,  1.94s/it]

In [6]:
Articles_Scraper.shape

(5453, 2)

In [7]:
# there is only 2500 article in Music Art
for i in trange(0 , 2500, 20):
    
    src = requests.get("https://english.ahram.org.eg/AllCategory/5/33/Arts--Culture/Music/"+str(i)+".aspx").content
    
    soup= BeautifulSoup(src , "lxml")
    
    article_title=[]
    articles_title= soup.find_all("div",{"class":"col-md-12 col-lg-12 mar-top-outer"})
    
    for r in range(len(articles_title)):
        Articles_Scraper = Articles_Scraper.append({'Article Title': articles_title[r].text.strip(), 'Category':'Art'}, ignore_index = True)

100%|████████████████████████████████████████████████████████████████████████████████| 125/125 [04:13<00:00,  2.03s/it]

In [8]:
Articles_Scraper.shape

(7953, 2)

In [9]:
# get 2100 article in Stage Street Art
for i in trange(0 , 2100, 20):
    
    src = requests.get("https://english.ahram.org.eg/AllCategory/5/35/Arts--Culture/Stage--Street/"+str(i)+".aspx").content
    
    soup= BeautifulSoup(src , "lxml")
    
    article_title=[]
    articles_title= soup.find_all("div",{"class":"col-md-12 col-lg-12 mar-top-outer"})
    
    for r in range(len(articles_title)):
        Articles_Scraper = Articles_Scraper.append({'Article Title': articles_title[r].text.strip(), 'Category':'Art'}, ignore_index = True)

100%|████████████████████████████████████████████████████████████████████████████████| 105/105 [03:46<00:00,  2.16s/it]

In [10]:
Articles_Scraper.shape

(10053, 2)

In [11]:
Articles_Scraper

                                           Article Title Category
0      Lebanese artist Haig Aivazian's video installa...      Art
1      Cairo's Palace of Arts gears up for 32nd Youth...      Art
2      Weaam El-Masry, Mohamed Shoukry, Ahmed El-Shae...      Art
3      Former Egyptian culture minister Farouk Hosny ...      Art
4      The Orient of the early 20th century exhibited...      Art
...                                                  ...      ...
10048  Townhouse Gallery gets into the election spiri...      Art
10049  Salafists force temporary closure of Tunisian ...      Art
10050  Egypt's artists brace for Islamist rule\n\n\n\...      Art
10051  Culture must be accessible to all, says cultur...      Art
10052  Darb Al-Ahmar to present circus performance\n\...      Art

[10053 rows x 2 columns]

In [12]:
Articles_Scraper.to_csv('Art.csv')