In [15]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
from tqdm import trange
import time

In [16]:
Articles_Scraper = pd.DataFrame({'Article Title': [] , 'Category' : []})
Articles_Scraper

Empty DataFrame
Columns: [Article Title, Category]
Index: []

In [17]:
# get 10000 artical in Economy
for i in trange(0 ,10000, 20):
    
    src = requests.get("https://english.ahram.org.eg/AllCategory/3/12/Business/Economy/"+str(i)+".aspx").content
    
    soup= BeautifulSoup(src , "lxml")
    
    article_title=[]
    articles_title= soup.find_all("div",{"class":"col-md-12 col-lg-12 mar-top-outer"})
    
    for r in range(len(articles_title)):
        Articles_Scraper = Articles_Scraper.append({'Article Title': articles_title[r].text.strip(), 'Category':'Economy'}, ignore_index = True)

100%|████████████████████████████████████████████████████████████████████████████████| 500/500 [18:25<00:00,  2.21s/it]

In [18]:
Articles_Scraper.shape

(10000, 2)

In [19]:
Articles_Scraper

                                          Article Title Category
0     Egypt’s financial inclusion grows by 115% over...  Economy
1     Egypt to restore wheat supply to local bakerie...  Economy
2     Egypt's 2022/23 draft budget allocates EGP 356...  Economy
3     S&P affirms Egypt’s long, short term credit ra...  Economy
4     ME scores highest confidence and orders levels...  Economy
...                                                 ...      ...
9995  BlackBerry unveils the Z30 as its new flagship...  Economy
9996  Egypt postpones decision on minimum wage\n\n\n...  Economy
9997  Egypt's main bourse index slows down\n\n\n\nEg...  Economy
9998  Microsoft board boosts dividend by 22%\n\n\n\n...  Economy
9999  Ex-IMF chief Strauss-Kahn advises Serbian gove...  Economy

[10000 rows x 2 columns]

In [20]:
Articles_Scraper.to_csv('Economy.csv')