In [53]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
from tqdm import trange
import time

In [54]:
Articles_Scraper = pd.DataFrame({'Article Title': [] , 'Category' : []})
Articles_Scraper

Empty DataFrame
Columns: [Article Title, Category]
Index: []

In [55]:
# get 10000 artical in Sport
for i in trange(0 , 10000, 20):
    
    src = requests.get("https://english.ahram.org.eg/AllCategory/6/55/Sports/World/"+str(i)+".aspx").content
    
    soup= BeautifulSoup(src , "lxml")
    
    article_title=[]
    articles_title= soup.find_all("div",{"class":"col-md-12 col-lg-12 mar-top-outer"})
    
    for r in range(len(articles_title)):
        Articles_Scraper = Articles_Scraper.append({'Article Title': articles_title[r].text.strip(), 'Category':'Sport'}, ignore_index = True)

100%|████████████████████████████████████████████████████████████████████████████████| 500/500 [16:53<00:00,  2.03s/it]

In [56]:
Articles_Scraper.shape

(10000, 2)

In [57]:
Articles_Scraper

                                          Article Title Category
0     Klopp signs new Liverpool contract until 2026\...    Sport
1     Pochettino '100 percent' sure he and Mbappe wi...    Sport
2     Barcelona to play 2023-24 season away from Cam...    Sport
3     Madrid can clinch Spanish title ahead of Man C...    Sport
4     Aston Villa to face Leeds in Brisbane pre-seas...    Sport
...                                                 ...      ...
9995  Ronaldo strikes again as Juventus brush SPAL a...    Sport
9996  Toothless Manchester United held to 0-0 home d...    Sport
9997  Manchester City stay top after 4-0 win at West...    Sport
9998  Alcacer scores again as Dortmund edge past Mai...    Sport
9999  Dusseldorf stun Bayern Munich with stoppage-ti...    Sport

[10000 rows x 2 columns]

In [58]:
Articles_Scraper.to_csv('Sport.csv')